.banner
	background-image url(http://pushbuttoninfluence.com/show/wp-content/uploads/2016/02/banner-3-1.jpg)
	padding 150px 0
	text-align center
	h1
		color white
		margin-bottom 10px
		font-size 3em
		font-family sans-serif
		font-weight 100
	p
		color #f9f9f9
		margin-bottom 10px
	button
		background-color #2d89ef
		padding 10px 25px
		border none
		border-radius 5px
		color white
		&:hover
			background-color transparent
			color #2d89ef
			cursor pointer
			border 1px solid #2d89ef
		