.featured_guests
	h1
		text-align center
		color #333
		margin 40px 0
		font-size 2em
		span
			color #08b6e6
	img
		float left
		margin-right 10px
	.about_guests
		display flex
		flex-wrap wrap
		justify-content center
		.guest
			margin 20px 10px
			width 40%;
			.photo_guest
				height 280px
				float left
			.smt_about_guest
				p
					color #666
				.title
					margin-bottom 10px
					color #08b6e6
					font-size 1.5em
				