.footer
	background-color #030402
	padding 50px 0
	display flex
	flex-wrap wrap
	justify-content center
	& > div
		width 40%
	.pbi
		img
			width 80%
			margin-bottom 30px
		p
			font-size 0.8em
			width 80%
			color grey
			background none
	.partner_detal
		text-align center
		h2
			color white
			font-size 1.3em
			margin-bottom 30px
		a
			text-decoration none
			padding 10px 15px
			border 1px solid #08b6e6
			color #08b6e6
			&:hover
				border none
				background-color #08b6e6
				color #030402
footer
	text-align center
	background-color #151414
	padding 10px 0
	p
		color grey
		font-size 0.8em