.how_to_consume
	background-color #ababab
	padding-top 50px
	padding-bottom 50px
	h1
		text-align center
		font-size 1.5em
		margin-bottom 5px
		span
			color #08b6e6
	p
		text-align center
		font-size 0.9em
		margin-bottom 20px
	.category
		display flex
		flex-wrap wrap
		justify-content center
		& > div
			width 25%
			display flex
			flex-wrap wrap
			.number
				width 50px
				margin-right 10px
				height 50px
				border-radius 50%
				background-color black
				color blue
				position relative
				p
					position absolute
					left 34%
					top 20%
					font-size 1.7em
					font-weight bold
			.link
				p
					font-size 1.2em
				span
					color #08b6e6
					cursor pointer
					font-size 1.1em
				img
					border-radius 10px
					margin-top -10px
					
	.second
		.link
			img
				width 102px
				height 38px
			