.latest_episodes
	ul
		li
			color #08b6e6
			a
				color #08b6e6
				text-decoration none
			margin-left 110px
			
	background-color #1c1c1c
	h1
		text-align center
		color white
		padding 50px 0 30px 0
		font-size 2em
		span
			color #08b6e6
	.episodes
		display flex
		flex-wrap wrap
		justify-content center
		.episod
			width 20%
			margin-left 30px
			img
				margin-bottom 25px
				width 100%
			a
				text-decoration none
				color #08b6e6
				margin-bottom 15px
			p
				color #666
				margin-top 10px
	button
		color #08b6e6
		border 1px solid #08b6e6
		background none
		width 150px
		position relative
		left 45%
		padding 10px 0
		cursor pointer
		margin-top 30px
		border-radius 3px
		margin-bottom 80px
		letter-spacing 1px
		&:hover
			background-color #2d89ef
			border none
			color #1c1c1c
			letter-spacing 1px	