.subscribe
	padding 20px 0
	background-color #08b6e6
	display flex
	flex-wrap wrap
	justify-content center
	.sb-block1
		flex-shrink 500px
		margin-right 50px
		h1
			margin-bottom 10px
			color white
		img
			width 200px
	.sb-block2
		h3
			color white
			margin-bottom 10px
		ul
			li
				color white
				line-height 20px